.mine-box {
  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }

  .mine-content-box {
    display: flex;
    flex-direction: row;

    .mine-left-box {
      width: 70%;
    }

    .mine-right-box {
      padding: 30px;
      display: inline-block;
      vertical-align: center;
    }
  }
}