.home-account-box {
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 10px;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #b5f5ec;
    border-bottom: 1px solid #ddd;
    color: rgb(24, 144, 255);
  }

  .home-account-content-box {
    .list-title-box {
      padding-bottom: 10px;
      width: 100%;
      text-align: right;
      padding-right: 30px;

    }
  }
}